{% extends "base.html" %}

{% block title %}Add Hours{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h2>Add Schedule</h2>
<p>Adding hours to {{ user.username }}'s Schedule</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Schedule</button>
    </form>
{% else %}
p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
<h2>Add Schedule</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Schedule</button>
    </form>
{% endif %}
{% endblock content %}